.btn {
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: var(--primary);
  border-radius: 10px;
  font-weight: bold;

  &.transparent {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
  }
}

