:root {
  --w-desktop: 1440px;
  --primary: #FA4A0C;
  --title: #252B42;
  --subtitle: #737373;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  max-width: 100vw;
  overflow-x: hidden;
}